<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tg.blog.backend.dao.ArticleMapper">
    <insert id="insertArticle" parameterType="com.tg.blog.backend.entity.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article(title, summary, content, cover_url, views,
                            likes, comments, publish_time, update_time, category_id)
        VALUES (#{title}, #{summary} ,#{content}, #{coverUrl},
                #{views}, #{likes}, #{comments},
                #{publishTime}, #{updateTime}, #{categoryId})
    </insert>

    <select id="selectArticleById" parameterType="long"
            resultType="com.tg.blog.backend.entity.Article">
        SELECT id, title, summary, content, cover_url AS coverUrl,
               views, likes, comments, publish_time AS publishTime,
               update_time AS updateTime, deleted, category_id AS categoryId
        FROM article
        WHERE id = #{id} AND deleted = 0
    </select>
    <select id="selectAllArticles" resultType="com.tg.blog.backend.entity.Article">
        select id, title, summary, content, cover_url AS coverUrl,
               views, likes, comments, publish_time AS publishTime,
               update_time AS updateTime, deleted, category_id AS categoryId
        FROM article
        WHERE deleted = 0
    </select>

    <update id="updateArticle" parameterType="com.tg.blog.backend.entity.Article">
        UPDATE article
        SET title = #{title},
            summary = #{summary},
            content = #{content},
            cover_url = #{coverUrl},
            views = #{views},
            likes = #{likes},
            comments = #{comments},
            publish_time = #{publishTime},
            update_time = #{updateTime},
            category_id = #{categoryId}
        WHERE id = #{id} AND deleted = 0
    </update>

    <update id="deleteArticle" parameterType="long">
        UPDATE article SET deleted = 1 WHERE id = #{id}
    </update>

    <update id="incrementLikes" parameterType="long">
        UPDATE article
        SET likes = likes + 1
        WHERE id = #{id} AND deleted = 0
    </update>

    <update id="incrementComments" parameterType="long">
        UPDATE article
        SET comments = comments + 1
        WHERE id = #{id} AND deleted = 0
    </update>

    <update id="incrementViews" parameterType="long">
        UPDATE article
        SET views = views + 1
        WHERE id = #{id} AND deleted = 0
    </update>
    
    <update id="updateCommentCount">
        UPDATE article
        SET comments = #{count}
        WHERE id = #{id} AND deleted = 0
    </update>
</mapper>
